.search {
	background: #f9fbfc;
	border-radius: 20px;
	border: 2px solid #202329;
	margin: 0 24px;
	height: 45px;
	width: calc(100% - 62px);
	font-size: 24px;
	text-align: center;
	color: #1e1e1f;
	box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.search::placeholder {
	color: #b3b3b3;
	font-weight: 400;
}

.search:focus {
	outline-color: #61dafa;
}

.search:disabled{
	background-color: #eeeeee;
	border:2px solid #797979;
}
	